<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h1> Recipes </h1>
      <!-- rice dropdown  -->
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Rice
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="recipes"> Tomato Rice</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>




    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h1> Recipes </h1>
      <!-- rice dropdown  -->
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Rice
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="recipes"> Tomato Rice</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>




    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h1> Recipes </h1>
      <!-- rice dropdown  -->
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Rice
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="recipes"> Tomato Rice</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>




    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div>
        <h1> Recipes </h1>
        <!-- rice dropdown  -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Rice
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="recipes"> Tomato Rice</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
 



<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
  <div>

    <!-- rice dropdown  -->
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Rice
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="recipes"> Tomato Rice</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

  </div>
</div>
</div>