<div class="background">
  <div class="container">
    <div class="row">
      <!-- button 1 -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">

        <div id="button2" class='btn-1'>
          <div class="card">
            <img class="card-img-top" src="../../assets/ricecardpic.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Rice</h5>
              <p class="card-text">Craving rice? Select from the recipes below; the main indgredient is rice!</p>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Rice
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/recipe', 'tomato-soup']"> Tomato Rice</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'steamed-white-rice']"> Steamed White Rice</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'simple-brown-rice']"> Brown Rice</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- button 1 -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
        <div id="button2" class='btn-1'>
          <div class="card">
            <img class="card-img-top" src="../../assets/beanspotential.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Beans</h5>
              <p class="card-text">Craving beans or in need of some protein? Select from the recipes below; the main indgredient are beans! </p>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Beans
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/recipe', 'simple-black-beans']">Simple Black Beans</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'kidney-bean-curry']">Kidney Bean Curry</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'pinto-beans']">Pinto Beans</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- button 1 -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
        <div id="button2" class='btn-1'>
          <div class="card">
            <img class="card-img-top" src="../../assets/potentialsoup_pic3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Soup</h5>
              <p class="card-text">Here you will find recipes for delicious soups.</p>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Soup
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/recipe', 'mexican-lentil-soup']"> Mexican Lentil Soup</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'chunky-vegetable-soup']">Chunky Vegetable Soup</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'fideo-soup']">Fideo Soup</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- button 1 -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
        <div id="button2" class='btn-1'>
          <div class="card">
            <img class="card-img-top" src="../../assets/pastapotential.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pasta</h5>
              <p class="card-text">In the mood for some hearty pasta? Below you will find delicious pasta recipes!</p>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Pasta
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/recipe', 'fettuccini-alfredo']"> Fettuccini ALfredo</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'spaghetti-and-marinara-sauce']">Spaghetti and Marinara Sauce</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'avocado-and-pesto-pasta']">Avocado and Pesto Pasta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- button 1 -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
        <div id="button2" class='btn-1'>
          <div class="card">
            <img class="card-img-top" src="../../assets/saladmenu.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Salad</h5>
              <p class="card-text">How about some healthy greens?! Delicous salads await below!</p>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Salad
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/recipe', 'simple-mediterranean-salad']"> Simple Mediterranean Salad</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'simple-antipasti-salad']">Simple Antipasti Salad</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'grilled-ceasar-salad']">Grilled Ceasar Salad</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- button 1 -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
        <div id="button2" class='btn-1'>
          <div class="card">
            <img class="card-img-top" src="../../assets/veggietacoscard.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tacos</h5>
              <p class="card-text">Ready for some tacos? Here are some delicous tacos that you will love!</p>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Tacos
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/recipe', 'simple-soy-chorizo']"> Simple Soy Chorizo Tacos</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'jackfruit-tacos']">Jackruit Tacos</a>
                  <a class="dropdown-item" [routerLink]="['/recipe', 'grilled-zucchini-tacos']">Grilled Zucchini Tacos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>