<div class="background">
<div class="container">
  <div class="row">
    <!-- button 1 -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">

    <div id="button2" class='btn-1'>
      <div class="card">
        <img class="card-img-top" src="../../assets/ricecardpic.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rice</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Rice
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="recipes"> Tomato Rice</a>
              <a class="dropdown-item" href="#"> Steamed White Rice</a>
              <a class="dropdown-item" href="#"> Brown Rice</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- button 1 -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
    <div id="button2" class='btn-1'>
      <div class="card">
        <img class="card-img-top" src="../../assets/beanspotential.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Beans</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Beans
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="recipes"> </a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- button 1 -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
    <div id="button2" class='btn-1'>
      <div class="card">
        <img class="card-img-top" src="../../assets/potentialsoup_pic3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Soup</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Soup
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="recipes"> Tomato Rice</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- button 1 -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
    <div id="button2" class='btn-1'>
      <div class="card">
        <img class="card-img-top" src="../../assets/pastapotential.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pasta</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Pasta
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="recipes"> Tomato Rice</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- button 1 -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
    <div id="button2" class='btn-1'>
      <div class="card">
        <img class="card-img-top" src="../../assets/saladmenu.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Salad</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Salad
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="recipes"> Tomato Rice</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- button 1 -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 spacing">
    <div id="button2" class='btn-1'>
      <div class="card">
        <img class="card-img-top" src="../../assets/veggietacoscard.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tacos</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Tacos
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="recipes"> Tomato Rice</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>




