.container {
    display: flex;
    margin-top: 100px;
    background: rgb(233, 230, 230);
    border: 3px solid rgb(253, 122, 0);
	margin: auto;
    position:relative;
    margin-top: 125px;

}




.container1 {
    display: flex;
    margin-top: 100px;
    background: rgb(233, 230, 230);
	margin:0 auto;
    position:relative;
    padding: 25px;

}



.container2 {
    display: flex;
    margin-top: 100px;
    background: rgb(233, 230, 230);
    margin:0 auto;
    position:relative;
    padding: 25px;
    
	

}
.btn-3, .btn-2, .btn-1{
    flex: 1;
}