body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
}

.container {
    background:#F9F9F9;
    opacity: 0.85;
    width: 50%;
    border: 3px solid #73AD21;
    margin-top: 100px;
}