<div class="container">
  <div class="row">
    <div class="col">
      <h1> Tomato Rice </h1>
      <h2>Ingredients 2</h2>
      <ul>
        <li>2 Tablespoons Vegetable or Canola Oil</li>
        <li>1 cup dry long-grain white rice</li>
        <li>1 8-ounce can tomato sauce 16 ounces warm water</li>
        <li>1 teaspoon chili powder</li>
        <li> 2 teaspoons Calde de Tomate (tomato bouillon)</li>
        <li>2 teaspoons minced garlic (about 2 cloves)</li> 
      </ul>
      <h2>Instructions</h2>
      <p>Heat oil in a 5 quart saute pan over medium-high heat.<br> 
        Add rice.<br>
        Cook rice, stirring constantly, for several minutes, until rice begins to turn a golden color.<br>
        Reduce heat to low to avoid spattering.<br>
        Gently pour in warm water, then tomato sauce and stir.<br>
        Stir in chili powder, Calde de Tomate and minced garlic.<br>
        Turn heat back up to medium-high, bring to a boil, then reduce to low and cover.<br>
        Simmer for 20 minutes, or until all water has been absorbed.<br>
        Turn heat off, fluff rice then let sit, covered, for 5-10 minutes before serving.
      </p>
    </div>
  </div>
</div>