<div class="container-fluid home">
  <div class="row cont">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="empty">

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8" id="pic">

    </div>

    <div id="title">
      <div id="title-content">
        <h1>Welcome
          <span>to Your</span>
          <br>Meat-Free
          <span>Recipe Book</span>
        </h1>
        <div id="button">
          <div id="button">
            <button type="button" class="btn btn-primary btn-lg" (click)="selectRecipe()">Pick My Meal!!</button>
          </div>
        </div>


      </div>
    </div>
  </div>


<!--  -->


  <!-- <div class="box">
  <div class="row">
    <div class="col">
      <h1 align="center">
        <font color="orange">
          Welcome to Your <br>
          No Meat Recipe Book
      </font></h1>
      <br><br>
      <h2 align="center">
        <font color= "orange">
         Here you will find recipes for non meat eaters.<br>
         Print them and cook with us!
        </font>
      </h2>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg">Large button</button> -->